html {
  background-color: yellow;
}

h1 {
  color: black;
  display: inline
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center
}

.main h1 {
  align-self: flex-end
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

a.active {
  color: pink;
}

a:hover {
  color: black;
  font-weight: 900
}

/* a:visited
{
    color: black
} */

label {
  display: block;
}

#takeBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#photoBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}

.photo img{
  width: 250px;
  height: 390px;
  align-self: center
}

.container {
  display: flex;
  flex-direction: column
}
.container h2 {
  align-self: center
}

.container a {
  align-self: center
}

.container form {
  align-self: center
}

.container img {
  align-self: center
}

.container div {
  align-self: center
}

.container nav {
  display: flex;
  flex-direction: column
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}

nav div {
  display: inline-block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
